* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  padding-top: 200px;

  position: relative;

  display: flex;
  flex-direction: column;
}

.section-title:not(.sub-title) {
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.sub-title {
  font-size: 40px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #201658;

  height: 150px;
  width: 100%;

  position: fixed;
  top: 0;
}

#navbar {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #98abee;

  text-decoration: none;

  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 24px;

  transition: all 0.15s;
}

.nav-link:hover {
  text-decoration: underline;

  color: #f9e8c9;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 10px;
  margin-bottom: 100px;

  box-shadow: 0px 1px 20px #000000;
}

#author {
  font-family: "Libre Baskerville", serif;
  font-size: 64px;
  font-weight: bold;
}

#image {
  border-radius: 50%;
  width: 10%;
}

#about-me {
  text-align: center;

  font-family: "League Spartan", sans-serif;
  font-size: 20px;

  width: 300px;

  margin-bottom: 10px;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 10px;
  margin-bottom: 100px;
  scroll-margin-top: 160px;

  box-shadow: 0px 1px 20px #000000;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.skill-card {
  background-color: #98abee;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  width: 400px;
  height: 400px;

  margin-bottom: 10px;
}

.skill-title {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: bold;
}

.skill-card li {
  font-family: "League Spartan", sans-serif;
  text-align: center;

  list-style: inside;

  padding: 10px;
}

#experiences {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 10px;
  scroll-margin-top: 160px;
  margin-bottom: 100px;

  text-align: center;
  list-style: inside;

  box-shadow: 0px 1px 20px #000000;
}

.experience-title {
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;

  margin-bottom: 20px;
}

ol p,
ol li {
  font-family: "League Spartan", sans-serif;

  margin-top: 10px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 10px;
  scroll-margin-top: 160px;
  margin-bottom: 100px;

  box-shadow: 0px 1px 20px #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;

  margin-bottom: 10px;
}

.project-card {
  width: 400px;
  height: 400px;

  transition: all 0.25s;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 15px;
  border: solid 10px silver;
}

#interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 10px;
  scroll-margin-top: 160px;
  margin-bottom: 100px;

  box-shadow: 0px 1px 20px #000000;
}

#interests > p,
#intersts a {
  font-family: "League Spartan", sans-serif;
  line-height: 20px;
  text-align: center;

  width: 300px;

  margin-bottom: 10px;
}

#footer {
  margin-top: auto;

  display: flex;
  justify-content: center;
  gap: 10px;

  background-color: #201658;
  color: #f9e8c9;

  font-family: "Libre Baskerville", serif;
  font-size: 20px;

  padding: 10px;
}

.flex-container {
  display: flex;
  gap: 10px;
  justify-content: center;

  padding: 10px;
}
